        
        <header>
            <app-header></app-header>
        </header>
        <content id = "middle">
            <form>
                <input name = "message" type = "text"/>
                <input type = "submit"/>
            </form>
            <script type = "text/javascript">
                alert("Hello World");
                /*$(document).ready(function(){
                    $("form").submit(
                        function(e){
                            e.preventDefault();
                            var message = $("input #message").text();
                            alert(message);
                        }
                    );
                })*/
            </script>
        </content>
        
        <footer>
            <app-footer></app-footer>
        </footer>

        <h1>nummer 1</h1>
        <h6>nummer 6</h6>